.header {
    padding: 0px 96px 0px 96px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D9D9D9;
    align-items: center;
    font-size: 2vw;
    height: 8vw;
}

.logo {
    font-weight: 900;
    font-size: 7vw;
    letter-spacing: 0.05em;
}


.header-nav-menu {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 50vw;
}

.footer {
    padding: 0% 10%;
    height: 204px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.copyright {
    padding-left: 10px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.5);
}

.footer-nav-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.footer .footer-nav-menu {
    display: block;
}

.footer .footer-nav-menu li {
    padding: 10px;
    margin: auto;

}

@media (max-width: 600px) {
    .logo {
        display: none;
    }
}