.top_margin {
    margin-top: 94px;
}

.main {
    padding: 0px 96px 0px 96px;
    overflow: hidden;
}

.introduction {
    position: relative;
}

.introduction_img {
    position: absolute;
    right: -130px;
    top: 0px;
    height: 100%;
    z-index: -1;
    width: 50vw;
    max-width: 720px;
    display: flex;
    align-items: center;
}

.introduction_img img {
    display: block;
    width: 100%;
}

.introduction_header {
    font-size: 10vw;
    font-weight: 900;
    letter-spacing: 0.05em;
    max-width: 756px;
}

.introduction_p {
    font-size: 1.5vw;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-top: 42px;
    max-width: 580px;
}

.schedule {
    position: relative;
    padding-left: 12vw;
}

.schedule_header {
    font-size: 7vw;
    font-weight: 900;
    letter-spacing: 0.05em;
}

.schedule_div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 130px;
}

.schedule_div_gap {
    display: flex;
    gap: 30px;
}

.schedule_info {
    font-size: 3vw;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.schedule_img {
    height: 40vw;
    position: absolute;
    top: 40%;
    left: -96px;
    z-index: -1;
}

.schedule_btnsection {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.schedule_p {
    width: 50vw;
    font-size: 1.5vw;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-align: end;
}

.schedule_button {
    font-size: 3vw;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: white;
    background-color: #C00000;
    height: 5vw;
    width: 40vw;
    border: none;
    border-radius: 18px;
}

.schedule_button:hover {
    background-color: rgb(156, 0, 0);
}

.schedule_button:active {
    background-color: rgb(85, 0, 0);
}

.schedule_button:focus {
    border: none;
}

.whoweare {
    position: relative;
    margin-top: 150px;
}

.whoweare_header {
    font-size: 7vw;
    font-weight: 900;
    letter-spacing: 0.05em;
}

.whoweare_info {
    font-size: 1.5vw;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-top: 30px;
    margin-bottom: 2vw;
}

.whoweare_img {
    width: 30vw;
}

.whoweare_div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.whoweare_div_div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10%;
    gap: 20px;
}

.whoweare_div_div_p {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    justify-content: center;
}

.whoweare_div_div_number {
    font-size: 7vw;
    font-weight: 900;
    width: 0px;
    display: flex;
    justify-content: flex-end;
}

.whoweare_div_div_info {
    font-size: 1.5vw;
    font-weight: 500;
    letter-spacing: 0.05em;
    max-width: 590px;
    padding-top: 3%;
    padding-left: 30px;
}

.whoweare_div_div_header {
    font-size: 5vw;
    font-weight: 900;
    letter-spacing: 0.05em;
    padding-left: 30px;
}

.red {
    color: #C00000;
}

@media (max-width: 1000px) {
    .whoweare_div {
        padding-bottom: 36px;
    }

    .whoweare_img {
        display: none;
    }
}